node_modules

tested-types/node_modules/
tested-types/build/
tested-types/lib/
tested-types/dist/
tested-types/docs/
tested-types/.idea/*
tested-types/.DS_Store
tested-types/coverage
tested-types/*.log

better-mobx/node_modules/
better-mobx/build/
better-mobx/lib/
better-mobx/dist/
better-mobx/docs/
better-mobx/.idea/*
better-mobx/.DS_Store
better-mobx/coverage
better-mobx/*.log
